.main-nav{
	display: flex;
}

.side-bar{
	width: 155px;
	height: 680px;
	left: 0px;
	top: 0px;
	background: #555555;
  }

.header {
	padding: 48px 31px;
	top: 0;
	width: 100%;
	z-index: 2;

	background-image: url(/images/Sliderimg1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	background-color: black;

	@media screen and (min-width: 768px) {
		max-height: 680px;
	}

	// @media screen and (min-device-pixel-ratio: 2),
	// 	screen and (min-resolution: 192dpi),
	// 	screen and (min-resolution: 2dppx) {
	// 	background-image: url(/images/hero-section/mobile3-hero2x-min.jpg), url(/images/hero-section/mobile2-hero2x-min.jpg),
	// 		url(/images/hero-section/mobile1-hero2x-min.jpg);
	// }

	// @media screen and (min-width: 480px) {
	// 	background-image: url(/images/hero-section/tablet3-hero1x-min.jpg), url(/images/hero-section/tablet2-hero1x-min.jpg),
	// 		url(/images/hero-section/tablet1-hero1x-min.jpg);
	// }
	// @media screen and (min-device-pixel-ratio: 2),
	// 	screen and (min-resolution: 192dpi),
	// 	screen and (min-resolution: 2dppx) {
	// 	background-image: url(/images/hero-section/tablet3-hero2x-min.jpg), url(/images/hero-section/tablet2-hero2x-min.jpg),
	// 		url(/images/hero-section/tablet1-hero2x-min.jpg);
	// }

	// @media screen and (min-width: 1200px) {
	// 	background-image: url(/images/hero-section/desktop3-hero1x-min.jpg),
	// 		url(/images/hero-section/desktop2-hero1x-min.jpg), url(/images/hero-section/desktop1-hero1x-min.jpg);
	// }
	// @media screen and (min-device-pixel-ratio: 2),
	// 	screen and (min-resolution: 192dpi),
	// 	screen and (min-resolution: 2dppx) {
	// 	background-image: url(/images/hero-section/desktop3-hero2x-min.jpg),
	// 		url(/images/hero-section/desktop2-hero2x-min.jpg), url(/images/hero-section/desktop1-hero2x-min.jpg);
	// }
}


.header-top {
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}
.logo{
	@media screen and (min-width: 768px) {
		position: absolute;
		left: 20px;
	}
}

.header-midle {
	max-width: 306px;
	margin-bottom: 180px;
}

.section-name,
.section-title-main {
	margin-bottom: 20px;
}

.section-name.is-header {
	color: rgba(157, 164, 189, 0.6);
}

.section-name:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 2px;
	width: 60px;
	height: 1px;
	background-color: rgba(157, 164, 189, 0.6);
}

.section-title.is-main {
	font-size: 48px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	color: $prime-white-color;
}

.section-text.is-header {
	color: $light-grey-color;
}
