.team {
  background-color: #f7f7f7;
}

.subtitle {
  padding-bottom: 20px;
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
  }

  position: relative;
  &:before {
    @extend %before;
  }
}
.subtitle::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.section-title {
  padding-bottom: 44px;
}
.team-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.flex-card {
  width: calc(100% / 1);
  padding: 15px;

  @media screen and (min-width: 1200px) {
    width: calc(100% / 3);
  }
}
